/*=============================Responsividade===========================*/

@media screen and (max-width: 1235px) {
  .language {
    display: none;
  }

  .options {
    display: block;
  }

  nav .menu {
    display: none;
  }
}

/*@media screen and (max-width: 1130px) {
  body {
    max-width: 90%;
  }
}*/

@media screen and (max-width: 1023px) {
  nav .menu {
    display: none;
  }
}

@media screen and (max-width: 983px) {
  header img {
    max-height: 40px;
    max-width: 140px;
  }
}

@media (max-width: 768px) {
  .carousel {
    height: 300px;
    /* Reduz a altura para telas menores */
  }

  .slides img {
    object-fit: contain;
    /* Ajusta para que as imagens sejam completamente visíveis */
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 300px;
  }

  .hero .overlay {
    padding: 10px;
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 709px) {
  .Planeie_sua_viagem h1 {
    font-size: 20px !important;
  }
}


/* Responsividade do formulário */
@media (max-width: 972px) {
  .form-busca form {
    flex-direction: column;
    gap: 15px;
  }

  .form-busca form div {
    width: 100%;
  }

  .form-busca form button {
    align-self: center;
    width: 100%;
  }
}



/*Responsividade área "Planeie sau viagem"*/
@media (max-width: 500px){
  .Planeie_sua_viagem_imgs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    gap: 20px;

}
}

/*Responsividade Sessão de butões*/
@media (max-width: 1249px){
  .btns{
    display: flex;
    flex-direction: column;
    
  }
}



/*=============================Responsividade Header===========================*/


@media screen and (max-width: 1239px) {
  header {
    padding: 6px;
  }

  .language {
    display: none;
  }

  .options {
    display: block;
  }
}

@media screen and (max-width: 1130px) {
  header {
    max-width: 90%;
    padding: 6px;
  }
}

@media screen and (max-width: 1023px) {
  nav .menu {
    display: none;
  }
}

@media screen and (max-width: 983px) {
  header img {
    max-height: 40px;
    max-width: 140px;
  }
}

@media screen and (max-width: 500px){
  .menu_sandwich {
    border-radius: 40px !important;
    right: auto;
    margin-right: -20px;
}
}

/*========================================================*/