/*=============================Responsividade===========================*/
/*@media screen and (max-width: 1340px) {
  body {
    max-width: 90%;
  }
}*/

@media screen and (max-width: 1235px) {
  .language {
    display: none;
  }

  .options {
    display: block;
  }

  nav .menu {
    display: none;
  }
}

/*@media screen and (max-width: 1130px) {
  body {
    max-width: 90%;
  }
}*/

@media screen and (max-width: 1023px) {
  nav .menu {
    display: none;
  }
}

@media screen and (max-width: 983px) {
  header img {
    max-height: 40px;
    max-width: 140px;
  }
}

@media (max-width: 768px) {
  .carousel {
    height: 300px;
    /* Reduz a altura para telas menores */
  }

  .slides img {
    object-fit: contain;
    /* Ajusta para que as imagens sejam completamente visíveis */
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 300px;
  }

  .hero .overlay {
    padding: 10px;
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1rem;
  }
}



/* Responsividade do formulário */
@media (max-width: 972px) {
  .form-busca form {
    flex-direction: column;
    gap: 15px;
  }

  .form-busca form div {
    width: 100%;
  }

  .form-busca form button {
    align-self: center;
    width: 100%;
  }
}