.menu_sandwich {
    width: 350px;
    max-height: 100vh;
    background-color: white;
    border-radius: 40px 0 0 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    padding: 30px;
    display: none; 
    position: fixed; /* Para garantir que o menu apareça sobre outros elementos */
    top: 110px;
    right: 40px;
    z-index: 1000; /* Garante que o menu esteja sobreposto */
}


.menu_sandwich.active {
    display: block; /* Mostra o menu quando a classe "active" é adicionada */
}

#menu-sandwich-btn {
    border: none;
    cursor: pointer;
}

.list_menu_sandwich{
    list-style: none;
    padding: 0;
    margin: 0;
}


.titulo_menu_sand{
    width: 100%;
    padding: 10px;
    border: none;
    text-align: left;
    background-color: rgb(245, 245, 245);
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.submenu_sand{
    list-style: none;
    margin-top: 10px;
    display: none;
}

.titulo_menu_sand.active + .submenu_sand{
    display: block;
}


.submenu_sand a{
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    text-align: left;
    background-color: #f3fbf3;
    border-radius: 40px;
    margin-bottom: 5px;
    font-size: 16px;
    cursor: pointer;
}


.menu-sandwich-footer{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    font-size: 14px;
    padding: 10px;
    color: #555;
    background-color: rgb(245, 245, 245);
    border-radius: 40px;
}

.menu-sandwich-footer img{
    max-width: 23px;
}




