#seta{
    color: rgb(134, 218, 9);
}

.navbar_opt{
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: none;
}

.navbar_opt div{
    margin-top: 20px;
    padding: 27px;
    display: flex;
    width: 100%;
    gap: 50px;
    background-color: white;
    border-radius: 25px;
}

#ver_todos{
    color: #9B51E0;
    border-bottom: 1px solid #9B51E0;
    padding: 2px;
}

#ver_todos:hover{
    border-bottom: 2px solid #9B51E0;
    transition: 0.2s;
    color: rgb(1, 119, 1);
    background-color:rgba(144, 226, 144, 0.116);
}
.navbar_opt div a{
    text-decoration: none;
    color: #333;
}

.navbar_opt div a:hover{
    color: rgb(1, 119, 1);
}

.navbar_opt ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title_list_opt{
    font-size: large;
    font-weight: 600;
}

.title_list_opt:hover{
    color: rgb(1, 119, 1);
}

.navbar_opt .Os_meus_voos_opt{
    display: flex;
    gap: 100px;

}

/*.navbar_opt .Check-in_opt{
  display: grid;
  gap: 8px;
  grid-template-columns: 2fr 1fr 1fr; /*fr -> fração do espaço da grid (2 frações(50%) para a primreira coluna e 1 fração(25%) paras cada uma das outras duas )
  padding: 5px;

}*/
#Voos_para_Check-in{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: medium;
    margin-top: 0;
    
}

#tit_voos_check-in{
    font-size: large;
    font-weight: 600;
}

.navbar_opt .Check-in_opt a{
    max-width: 58%;
}
